*.a
*.o

session.vim
.tags

/doc/*.html

/examples/command-line
/examples/command-line-minimal

/tests/buffer
/tests/command-line
/tests/hash-table
/tests/heap
/tests/numbers
/tests/ptr-vector
/tests/queue
/tests/stack
/tests/strings
/tests/unicode
/tests/vector
